* {
    box-sizing: border-box;
  }

header a {
    
        text-decoration: none;
        text-transform: uppercase;
        color: #3B14A7;
        padding: 35px 15px;
        float: right;
        border-top: 10px;
        margin: 3px;
  }

  header img {
    width: 100px;
  }
  body {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    gap: 20px;
    width: 960px;
    margin: 0 auto;
    background: #FFED99;
  }

  table {
      border-collapse: collapse;
      margin: 25px 0;
      min-width: 400px;
      font-size: 0.9cm;
      font-weight: bold;
      text-align: left;
      

  }
  table th {
    background-color: #A3A847;
    color: #343F56;
    border: 1px solid black;
  }
  table td {
    padding: 12px 15px ;
    border: 1px solid black;
  }